.wal{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wal p{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #071717;
}
.wal h1{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 72px;
    color: #071717;
}
.ars{
    background: #9A9FBF;
    border-radius: 8px;
    width: 340px;
    margin: 30px 0;
}
.ars button{
    background: transparent;
    color: #fff;
}
.your button{
    width: 170px;
    height: 47px;
    border: 1px solid #4CC5D2;
    border-radius: 30px;
    background: transparent;
    color: #4CC5D2;
}
.tog{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.boxss{
    position: absolute;
    width: 545px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 20px;
}
.boxss h1{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    text-align: left;
    color: #1B5958;
}
.boxss label{
    position: absolute;
    margin-top: -10px;
    margin-left: 20px;
    background: #fff;
}
.boxss select,input{
    width: 464px;
    height: 66px;
    background: #F6F8F8;
    border: 0.5px solid #1B5958;
    border-radius: 30px;
}
.mem{
    margin: 24px 0;
}