.header {
  display: flex;
  background: #1b5958;
  color: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 20px 128px;
  width: 100vw;
}
.mobile2 {
  display: none;
}
.mobile3 {
  display: none;
}
.search {
  background: #fff;
  border-radius: 20px;
  height: 45px;

  display: flex;
  align-items: center;
  padding: 0 10px;
}
.mid {
  display: flex;
  align-items: center;
  max-width: 500px;
}
.search input {
  width: 300px;
  border: none;
  outline: none;
}
button {
  color: #fff;
  background-color: #1a1a1a;
  border-radius: 20px;
  height: 38px;
  width: 122px;
  margin-left: -30px;
}
.btss {
  color: #fff;
  background-color: #4cc5d2;
  border-radius: 20px;
  height: 38px;
  width: 122px;
  margin-left: -30px;
}
.left {
  margin-right: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.left p {
  margin-right: 10px;
}

.footer {
  display: flex;
  flex-direction: column;
  background: #1b5958;
  color: #fff;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  width: 100vw;
}
.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  padding-left: 20px;
  padding-right: 20px;
}
.email {
  background: #fff;
  border-radius: 20px;
  max-width: 350px;
  height: 48px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  width: 100%;
}
.email input {
  max-width: 200px;
  border: none;
  outline: none;
  width: 100%;
}
.btn {
  color: #fff;
  background: #4cc5d2;
  border-radius: 20px;
  height: 48px;
  width: 122px;
  margin-left: -30px;
}
.bts {
  background: #4cc5d2;
  margin-left: -40px;
  height: 45px;
}

ul {
  list-style-type: none;
}
li {
  margin-bottom: 10px;
}
.list {
  margin-top: 20px;
}

.connect ul {
  display: flex;
  margin-left: -10px;
  margin-right: 20px;
}
.connect p {
  margin-left: -20px;
}
.connect li {
  margin-right: 10px;
}
.line {
  height: 2px;
  width: 400px;
  background: rgba(255, 255, 255, 0.2);
}
.mobile {
  display: none;
}
.bottom-nav {
  display: none;
}
.bot {
  display: flex;
  align-items: center;
}
.bot p {
  margin: 0 20px;
}
@media (max-width: 1300px) {
  .header {
    padding: 20px 58px;
  }
}
@media only screen and (max-width: 978px) {
  .mid {
    order: 1;
    margin-block: 10px;
    justify-self: center;
    display: flex;
    justify-content: center;
    flex-basis: 100%;
    margin-block: 0;
  }
  .logoImg {
    margin-top: -45px;
  }
  .logo {
    transform: translateY(-8px);
  }
  .header {
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
  }
  .search {
    width: 80%;
    height: 45px;
  }
  .bts {
    height: 45px;
  }
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    padding-top: 40px;
  }
}
@media only screen and (max-width: 713px) {
  .main {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .list,
  .bot {
    margin-block: 20px;
  }
  .logoImg {
    margin-bottom: 20px;
  }
  .footer {
    padding: 20px;
    /* margin-bottom: 0; */
  }
}
@media only screen and (max-width: 400px) {
  .header {
    display: none;
  }
  .mobile2 {
    display: block;
  }
  .midd {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .icons {
    display: flex;
  }
  .icon {
    margin-right: 10px;
  }
  .search {
  }
}
@media only screen and (max-width: 343px) {
  .logo {
    transform: scale(0.2) translateX(-80px);
  }
}
