.lab{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}
.laby{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}
.labb{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    align-items: center;
}
.lab input, select, option{
    width: 495px;
    height: 66px;
    background: #F6F8F8;
    border: 0.5px solid #757E7E;
    border-radius: 30px;
    outline: none;
    padding: 10px;
}
.laby input{
    width: 240px;
    height: 66px;
    background: #F6F8F8;
    border: 0.5px solid #757E7E;
    border-radius: 30px;
    outline: none;
    padding: 10px;
}
.lab label{
    position: absolute;
    margin-top: -10px;
    margin-left: 30px;
    background: #fff;
}
.laby label{
    position: absolute;
    margin-top: -10px;
    margin-left: 30px;
    background: #fff;
}
.labb input{
   margin-right: 20px;
}
.labb p{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    color: #000;
}
.labbb{
    display: flex;
    margin: 20px 0;
}
.labbb input{
    width: 410px;
    height: 66px;
    background: #F6F8F8;
    border: 0.5px solid #757E7E;
    border-radius: 30px;
}
.labbb label{
    position: absolute;
    margin-top: -10px;
    margin-left: 30px;
    background: #fff;
}

.ic{
    background: #F6F8F8;
    border: 0.5px solid #1B5958;
    border-radius: 30px;
    width: 77px;
    height: 66px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 34px;
}
.savebtn{
    width: 495px;
    height: 66px;
}
@media (max-width: 450px) {

    .lab input, select, option{
        width: 320px;
        height: 56px;
        margin-left: -20px;
        
    }
    .labbb input{
        width: 235px;
        height: 56px;
        margin-left: -20px;
        background: #F6F8F8;
        border: 0.5px solid #757E7E;
        border-radius: 30px;
    }
    .labb p{
        color: #000;
    }
    .ic{
        background: #F6F8F8;
        border: 0.5px solid #1B5958;
        border-radius: 30px;
        width: 97px;
        height: 56px;
        margin-left: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
    }
    .savebtn{
        width: 295px;
        height: 56px;
    }
}